# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\luca.iadicicco\Documents\Stampa 3D\Hero_Me_Gen5\Hero Me Gen 5 - Italiano\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
